# This is a basic workflow to help you get started with Actions

name: build and publish Hugo site

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-publish:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: true
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
    
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PSW }}
        
      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: fvalente95/hugo-site:v1

      - name: Deploy website on K8s cluster
        uses: giorio94/kubectl-oidc-action@1.1.0
        with:
          kubeconfig: ${{ secrets.KUBECONFIG }}
          args: apply -f template-deploy.yaml --namespace=sandbox-s291486
